@model TaskPanel.Models.GenUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GenUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEmailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NMobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NMobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NUserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
