@model IEnumerable<TaskPanel.GenUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NMobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NMobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NUserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NUserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NUserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
